{% extends "layout.html" %}

{% block main %}
<div class="container mt-2">
    <div class="mx-auto mb-3" style="text-align: center; font-weight: bold; font-size: 24px;">Ejercicio 1</div>
    <div>
        <h2>Número de Usuarios</h2>
        <p>{{ num_usuarios }}</p>
    </div>
    <div>
        <h2>Media y Desviación Estándar de Fechas de Cambio de Contraseña</h2>
        <p>Media: {{ media_fechas }}</p>
        <p>Desviación estándar: {{ desviacion_fechas }}</p>
    </div>
    <div>
        <h2>Media y Desviación Estándar del Total de IPs Detectadas</h2>
        <p>Media: {{ media_ips }}</p>
        <p>Desviación estándar: {{ desviacion_ips }}</p>
    </div>
    <div>
        <h2>Media y Desviación Estándar del Número de Emails de Phishing Recibidos</h2>
        <p>Media: {{ media_emails_phishing }}</p>
        <p>Desviación estándar: {{ desviacion_emails_phishing }}</p>
    </div>
    <div>
        <h2>Valor Mínimo y Máximo del Total de Emails Recibidos</h2>
        <p>Valor mínimo: {{ min_emails }}</p>
        <p>Valor máximo: {{ max_emails }}</p>
    </div>
    <div>
        <h2>Valor Mínimo y Máximo del Número de Emails de Phishing Recibidos por Administrador</h2>
        <p>Valor mínimo: {{ min_emails_phishing_admin }}</p>
        <p>Valor máximo: {{ max_emails_phishing_admin }}</p>
    </div>
</div>
{% endblock %}