{% extends "layout.html" %}

{% block main %}
<section class="container mt-2">
    <div class="mx-auto mb-3" style="text-align: center; font-weight: bold; font-size: 24px;">Ejercicio 3</div>

    <div class="mx-auto">
    <!-- Gráfico de tiempo medio cambio contraseñas -->
    <canvas id="mediaCambioPassUsuariosChart"></canvas>
    </div>

    <div class="mx-auto">
        <!-- Gráfica de puntuaciones de usuarios críticos -->
        <canvas id="usuariosCriticosChart"></canvas>
    </div>
    <div class="mx-auto">
         <!-- Gráfica de políticas desactualizadas -->
        <canvas id="politicasDesactualizadasChart"></canvas>
    </div>
    <div class="mx-auto">
         <!-- Gráfica de cumplimiento de políticas por año -->
        <canvas id="cumplimientoPoliticasChart"></canvas>
    </div>


</section>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        // Datos recibidos desde app.py
        var mediaUsers = {{ mediaUsers|safe }};
        var mediaAdmin = {{ mediaAdmin|safe }};
        var users = {{ users|safe }};
        var punt = {{ punt|safe }};
        var pag = {{ pag|safe }};
        var politicas = {{ politicas|safe }};
        var an = {{ an|safe }};
        var cum = {{ cum|safe }};
        var no_cum = {{ no_cum|safe }};


        //Gráfica media tiempo cambio contraseñas usuarios y administradores
        var mediaCambioPassUsuariosCtx = document.getElementById('mediaCambioPassUsuariosChart').getContext('2d');
        new Chart(mediaCambioPassUsuariosCtx, {
            type: 'bar',
            data: {
                labels: ['Usuarios', 'Administradores'],
                datasets: [{
                    label: 'Media de tiempo de cambio de contraseña',
                    data: [mediaUsers, mediaAdmin],
                    backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        // Gráfica de puntuaciones de usuarios críticos
        var usuariosCriticosCtx = document.getElementById('usuariosCriticosChart').getContext('2d');
        new Chart(usuariosCriticosCtx, {
            type: 'bar',
            data: {
                labels: users,
                datasets: [{
                    label: 'Puntuaciones de usuarios críticos',
                    data: punt,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Gráfica de políticas desactualizadas
        var politicasDesactualizadasCtx = document.getElementById('politicasDesactualizadasChart').getContext('2d');
        var politicasDesactualizadasChart = new Chart(politicasDesactualizadasCtx, {
            type: 'bar',
            data: {
                labels: pag,
                datasets: [{
                    label: 'Políticas desactualizadas',
                    data: politicas,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Gráfica de cumplimiento de políticas por año
        var cumplimientoPoliticasCtx = document.getElementById('cumplimientoPoliticasChart').getContext('2d');
        var cumplimientoPoliticasChart = new Chart(cumplimientoPoliticasCtx, {
            type: 'line',
            data: {
                labels: an,
                datasets: [{
                    label: 'Cumplen políticas',
                    data: cum,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }, {
                    label: 'No cumplen políticas',
                    data: no_cum,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
