{% extends "layout.html" %}
<link href="../static/button.css" rel="stylesheet">
{% block main %}
<section class="container mt-2">
    <div class="mx-auto mb-3" style="text-align: center; font-weight: bold; font-size: 24px;">Ejercicio 3</div>
     <div class="mx-auto">
      <div>
          <strong>Pulsa en el siguiente botón para generar un pdf de la pagina:</strong>
          <button class="btn card-button mr-2" id="generarPdf">Generar PDF</button>
      </div>

      <div id="last10vulnerabilities_html">
          {% for entrada in datos %}
    <h3>Vulnerabilidad {{ loop.index }}</h3>
    <ul>
        <li><strong>ID:</strong> {{ entrada.id }}</li>
        <li><strong>Fecha de Publicación:</strong> {{ entrada.Published }}</li>
        <li><strong>Fecha de Modificación:</strong> {{ entrada.Modified }}</li>
        <li><strong>Asignador:</strong> {{ entrada.assigner }}</li>
        <li><strong>CWE:</strong> {{ entrada.cwe }}</li>
        <li><strong>Referencias:</strong>
            <ul>
                {% for referencia in entrada.references %}
                <li><a href="{{ referencia }}">{{ referencia }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><strong>Resumen:</strong> {{ entrada.summary }}</li>
    </ul>
         {% endfor %}
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
    document.getElementById("generarPdf").addEventListener("click", function() {
        var htmlContent = document.getElementById("last10vulnerabilities_html");

        html2pdf().from(htmlContent).save("last10vulnerabilities.pdf");
    });
</script>




</section>
{% endblock %}
