{% extends "layout.html" %}

{% block main %}
<div class="container mt-2">
    <div class="mx-auto mb-3" style="text-align: center; font-weight: bold; font-size: 24px;">Ejercicio 2</div>

    <h2>Indica el número de elementos que se desean observar:</h2>
    <form action="/procesarMayorMenor" method="post">
        <input class="form-control w-50" type="number" name="numero" required>
        <label for="cincuenta">Porcentaje:</label><br>
        <select id="cincuenta" name="cincuenta">
            <option value="1">Mayor 50</option>
            <option value="2">Menor 50</option>
        </select><br>
        <button class="btn card-button mr-2" type="submit">Enviar</button>
    </form>
    </div>




{% endblock %}