<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verificación de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Verificación de Usuario</h1>
    </header>
    <main>
        <section>
            <h2>Resultado de la verificación</h2>
            <p>El usuario introducido es: <strong>{{ etiqueta }}</strong></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Juankamdz</p>
    </footer>
</body>
</html>