{% extends "layout.html" %}

{% block main %}
<section class="mt-5">
    <div>
<ul style="width: 300px; border: 1px solid #ccc; padding: 20px; text-align: center; margin: 0 auto;">
    <li style="list-style-type: none; margin-bottom: 10px;">Realizado por:</li>
    <li style="list-style-type: disc; text-align: left;">Martín Díaz Benito Álvarez</li>
    <li style="list-style-type: disc; text-align: left;">Darío Jiménez García</li>
    <li style="list-style-type: disc; text-align: left;">Laura Moreno Salcedo</li>
    <li style="list-style-type: disc; text-align: left;">Juan Carlos Sastre García</li>
</ul>
    </div>
</section>
{% endblock %}
