{% extends "layout.html" %}

{% block main %}
<section class="container mt-2">
    <div class="mx-auto mb-3" style="text-align: center; font-weight: bold; font-size: 24px;">Usuarios Mayores/Menores de 50</div>

    <div class="mx-auto">
        <canvas id="usuariosChart"></canvas>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Datos
    var usuarios = {{ usuarios|safe }};
    var punt = {{ punt|safe }};

    // Gráfico de usuarios
    var usuariosCtx = document.getElementById('usuariosChart').getContext('2d');
    var usuariosChart = new Chart(usuariosCtx, {
        type: 'bar',
        data: {
            labels: usuarios,
            datasets: [{
                label: 'Puntuaciones de usuarios',
                data: punt,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
